span.phone {
    background: url("../img/phone.png") no-repeat;
}

span.fax {
    background: url("../img/fax.png") no-repeat;
}

span.mobile {
    background: url("../img/mobile.png") no-repeat;
}

span.email {
    background: url("../img/email.png") no-repeat;
}

span.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}

img.photo {
    padding: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 35px;
}
.center{
    text-align: center;
}

.inline{
    display: inline;
}