@font-face {
    font-family: 'pt sans';
    font-weight: normal;
    src: url("../fonts/PTSans-Regular.woff");
}
@font-face {
    font-family: 'pt sans';
    font-weight: bold;
    src: url("../fonts/PTSans-Bold.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pt sans', arial, tahoma;
    font-weight: normal;
    cursor: default;
}

div.container {
    min-width: 800px;
}

div#header {
    width: 100%;
    height: 300px;
    background: url(../img/menu-img.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

div#body {
    width: 800px;
    margin: 50px auto;
}

div.inner-body {
    min-width: 800px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 140, 27, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(255, 140, 27, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(255, 140, 27, 0.5);
}

div.content {
    padding: 10px;
    line-height: 64px;
    font-weight: bold;
    text-align: left;
    float: left;
}

div.content span {
    margin-bottom: -20px;
}

div.body-title {
    background-color: #ff8b1b;
    padding: 10px;
    color: white;
    font-weight: bold;
}

div.title {
    text-align: left;
    padding: 80px;
    width: 100%;
    font-size: 20px;
    color: white;
}

span.title {
    font-weight: bold;
    font-size: 40px;
}

div.menu {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #da6e1b;
}

div.menu-item {
    height: 50px;
    border-left: solid 1px #da6e1b;;
    border-bottom: solid 1px #da6e1b;;
    float: right;
    width: 100px;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    background-color: #ff8b1b;
}

div.menu-item :hover {
    background-color: #ffa522;
}

div.sel {
    background-color: #ffa522;
}

div.map {
    width: 400px;
    height: 200px;
    float: right;
    margin-right: 20px;
    margin-top: 35px;
}

div.logo {
    background-color: #ff8b1b;
    height: 50px;
    float: right;
    opacity: 0.3;
    color: white;
    text-align: right;
    min-width: calc(100% - 300px);
}

div.price-item {
    width: 200px;
    float: left;
    margin: 33px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 140, 27, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(255, 140, 27, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(255, 140, 27, 0.5);
    padding: 5px;
    font-weight: bold;
}

div.price img {
    height: 150px;
    width: 190px;
}

div.price-item div {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

div#footer {
    width: 800px;
    margin: 50px auto;
    color: gray;
}

span.bold {
    font-weight: bold;
}

div.about {
    padding: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.green {
    background-color: #226421;
}

.red {
    background-color: #fe312a;
}
