@font-face {
    font-family: 'pt sans';
    font-weight: normal;
    src: url("../fonts/PTSans-Regular.woff");
}
@font-face {
    font-family: 'pt sans';
    font-weight: bold;
    src: url("../fonts/PTSans-Bold.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pt sans', arial, tahoma;
    font-weight: normal;
    cursor: default;
}

div.container {
    min-width: 600px;
}

div.header {
    width: 100%;
    height: 300px;
    background: url(../img/menu-img.jpg);
}

div.body {
    width: 100%;
}

div.title {
    text-align: left;
    padding: 80px;
    width: 100%;
    font-size: 20px;
    color: white;
}

span.title {
    font-weight: bold;
    font-size: 40px;
}

div.menu {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #da6e1b;
}

div.menu-item {
    height: 50px;
    border-left: solid 1px #da6e1b;;
    border-bottom: solid 1px #da6e1b;;
    float: right;
    width: 100px;
    text-align: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    background-color: #ff8b1b;
    opacity: 0.8;
}

div.menu-item :hover {
    opacity: 1;
}

div.sel {
    opacity: 1;
}

div.logo {
    background-color: #ff8b1b;
    height: 50px;
    float: right;
    opacity: 0.3;
    color: white;
    text-align: right;
}
