.in-p-c {
  margin: 0 auto;
  width: 100%;
  min-width: 700px;
  max-width: 1200px;
}
@font-face {
  font-family: 'pt sans';
  font-weight: normal;
  src: url("../fonts/PTSansRegular.ttf");
}
@font-face {
  font-family: 'pt sans';
  font-weight: bold;
  src: url("../fonts/PTSansBold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'pt sans', arial, tahoma;
  font-size: 15px;
  font-weight: normal;
  cursor: default;
  -webkit-backface-visibility: hidden;
}
html,
body {
  width: 100%;
  height: 100%;
}
div#wrapper {
  width: 100%;
  background: #222222 url("../images/back.jpg") 100%;
  padding: 50px 20px 100px;
  overflow: hidden;
}
div#page {
  margin: 0 auto;
  width: 100%;
  min-width: 700px;
  max-width: 1200px;
  margin-top: 50px;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgba(75, 75, 90, 0.75);
  overflow: hidden;
  z-index: 1000;
}
div#page > * {
  position: relative;
}
div#page .page-body {
  padding: 10px;
  height: 100%;
  color: #000000;
}
div#page .page-body .inner {
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
div#header {
  height: 242px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  min-width: 700px;
  max-width: 1200px;
}
div#header .img {
  height: 200px;
  background: url("../images/header.jpg") no-repeat center;
  background-size: cover;
}
div#header .menu {
  width: 100%;
  height: 42px;
  padding: 0 10px;
  background-color: #fff;
}
div#header .menu a {
  cursor: pointer;
  float: left;
  margin-right: 8px;
  color: #4f9571;
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.1s ease, color 0.1s ease;
}
div#header .menu a:hover,
div#header .menu a.active {
  color: #ffffff;
  background-color: #4f9571;
}
.content {
  width: calc(100% - 300px);
  float: left;
  padding-right: 20px;
}
.content .content-title {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  color: #4f9571;
  border: 1px solid #4f9571;
  border-radius: 5px;
}
.content .post {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.content .post:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.content .post .title {
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}
.content .post .title .text {
  float: left;
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}
.content .post .body {
  width: 100%;
  line-height: 1.5em;
}
.content .post .body .prev {
  width: 400px;
  height: 266.6666666666667px;
  float: left;
  clear: right;
  margin: 0 20px 20px 0;
}
.content .post .body .text {
  float: right;
  width: calc(100% - 420px);
}
.content .post .body .prev img {
  width: 100%;
  height: 100%;
}
.right-bar {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 30px;
  float: right;
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.right-bar .block {
  width: 100%;
  background-color: #fff;
  margin-bottom: 50px;
  overflow: hidden;
}
.right-bar .block .title {
  font-weight: bold;
  color: #4f9571;
  border-bottom: 1px dotted #4f9571;
  margin-bottom: 10px;
}
.i10-banner {
  display: block;
  width: 279px;
  height: 80px;
  background: url("../images/i10-banner.jpg") center no-repeat;
  border-radius: 5px;
  cursor: pointer;
}
.inline-label {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 5px;
}
.inline-label * {
  font-size: 14px;
}
.inline-label > .left {
  float: left;
}
.inline-label > .right {
  float: right;
}
.form-center {
  width: 400px;
  min-height: 500px;
  margin: 0 auto;
}
.form-center #send-mail-success {
  height: 354px;
  line-height: 354px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  display: none;
}
.form-center input,
.form-center textarea {
  width: 100%;
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  cursor: text;
  border: 1px solid #bbb;
  box-shadow: inset 0 2px 4px #ccc;
}
.form-center textarea {
  min-height: 200px;
}
.form-center input:hover,
.form-center textarea:hover,
.form-center input:focus,
.form-center textarea:focus {
  border-color: #4f9571;
  box-shadow: inset 0 2px 7px #bbb;
}
.form-center .label {
  margin-bottom: 10px;
}
.form-center button {
  outline: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 13px;
  color: #555;
  text-shadow: 0 1px 0 #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@sc', endColorstr='@ec');
  background: -webkit-linear-gradient(top, #f6f6f6, #e9e9e9);
  background: -moz-linear-gradient(top, #f6f6f6, #e9e9e9);
  background: -o-linear-gradient(top, #f6f6f6, #e9e9e9);
  background: -ms-linear-gradient(top, #f6f6f6, #e9e9e9);
}
.form-center button:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@sc', endColorstr='@ec');
  background: -webkit-linear-gradient(top, #e9e9e9, #dddddd);
  background: -moz-linear-gradient(top, #e9e9e9, #dddddd);
  background: -o-linear-gradient(top, #e9e9e9, #dddddd);
  background: -ms-linear-gradient(top, #e9e9e9, #dddddd);
  color: #333;
}
.form-center button:active {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@sc', endColorstr='@ec');
  background: -webkit-linear-gradient(top, #d0d0d0, #dddddd);
  background: -moz-linear-gradient(top, #d0d0d0, #dddddd);
  background: -o-linear-gradient(top, #d0d0d0, #dddddd);
  background: -ms-linear-gradient(top, #d0d0d0, #dddddd);
  color: #111;
}
a#zak-ag {
  cursor: pointer;
  color: #4f9571;
  text-decoration: underline;
}
a#zak-ag:hover {
  text-decoration: none;
}